@charset "UTF-8";
html {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bebas Neue'; }

h3 {
  font-size: 2rem;
  letter-spacing: 2px; }

body {
  margin: 0; }

body > header {
  background-image: url(../images/masthead-small.png);
  background-repeat: no-repeat;
  top: 18px;
  left: 0;
  right: 0;
  position: relative;
  background-size: cover;
  margin: 0 auto; }

@media (min-width: 800px) {
  body > header {
    background-image: url(../images/header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 25px;
    left: 0;
    right: 0;
    padding-block-end: 17%; } }

footer {
  background-size: cover;
  top: 0;
  position: relative;
  background-color: black; }

li {
  list-style: none; }

.mast_head {
  display: flex;
  flex-direction: row; }

.main_header {
  text-align: center;
  padding-block-start: 179px; }

.main_header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 3px; }

.main_header p {
  font-size: 2rem;
  color: white;
  letter-spacing: 3px;
  font-family: 'Bebas Neue'; }

.button {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  border-style: none;
  padding-block-start: 12px;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center; }

.scroll_button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block-start: 140px;
  padding-block-end: 40px; }

.scroll_button a {
  color: white;
  text-decoration: none; }

.sos {
  background-image: url(../../webroot/images/royal-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  padding-bottom: 10%;
  position: relative; }

.large-paragraph {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase; }

.sos-headings,
.sos_content--paragraph {
  color: #ffffff; }

.sos_content--paragraph u {
  text-decoration-color: #FFB548; }

.sos_sub-content {
  padding: 40px;
  padding-block-start: 0; }

.sos-headings {
  margin: auto;
  padding-block-start: 20px;
  padding-block-end: 0;
  border-bottom: 2px solid white;
  margin: 1rem; }

.sos_content {
  padding: 2rem 40px; }

.bunners {
  display: flex;
  position: relative;
  top: -3rem;
  justify-content: center;
  padding-inline-start: 0; }

.bunners li {
  border: 1px solid #ffffff;
  padding: 7px;
  width: 0;
  margin: 10px;
  border-radius: 50%;
  height: 0;
  display: block; }

.bunners li:nth-of-type(1) {
  background: #ffffff; }

.bunners > li:nth-child(1) > a::after {
  border-left: red 1px solid; }

.bunners li a {
  visibility: hidden; }

.sos_list-img {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 109.6%;
  /* 	padding-bottom: calc(100% * 273 / 249); */ }

.sos_img {
  position: absolute; }

.sos_image1 {
  z-index: 3;
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249); }

.sos_image2 {
  top: 50%;
  padding-top: 30%;
  z-index: 2;
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  transform: translateY(-50%) scale(calc((273 - 48) / 273));
  transform-origin: 100% 0%; }

.sos_image3 {
  z-index: 1;
  left: calc(100% * 24 / 249);
  right: 0;
  padding-top: 12%;
  transform: scale(calc((273 - 48) / 273));
  transform-origin: 100% 0%; }

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px; }

.sos_scroll-btns {
  display: flex;
  z-index: 3; }

.sos_scroll-btns li::before {
  content: "⚪"; }

@media (min-width: 800px) {
  .sos {
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url(../../webroot/images/sos-bg-desktop.png);
    background-repeat: no-repeat; }
  .content-wrap {
    display: flex;
    flex-direction: row;
    padding-block-start: 12%; }
  .sos-headings {
    margin-inline-start: 5rem; }
  .sos_paragraph {
    max-width: 50%;
    margin-block-end: 0; }
  .sos_sub-content {
    max-width: 50%;
    padding-inline-start: 25%;
    padding-block-start: 20px; }
  .sos_list-img {
    padding: 160px; }
  .sos_image1 {
    padding-top: 10%;
    z-index: 3;
    left: 0;
    right: calc(100% * 24 / 249); }
  .sos_image2 {
    top: 65%;
    padding-top: 30%; }
  .sos_image3 {
    top: 12%; }
  figure {
    background-image: url(../../webroot/images/switch.svg);
    background-repeat: no-repeat;
    background-size: 50px 30px;
    padding-inline-end: 50px;
    background-position: 100% 40%; } }

.feature {
  background-image: radial-gradient(37.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url(../../webroot/images/feature-bg-crp.png);
  background-position: 0 0, 0% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 100%;
  padding-block-end: 10%; }

.feature-content {
  padding-block-start: 82.04px;
  padding-inline-start: 116.19px; }

details {
  position: relative; }

details[open] > summary::before {
  background-color: #ffffff; }

details:first-of-type::before {
  top: 1rem;
  position: absolute; }

details::before {
  content: " ";
  border: 1px solid white;
  height: 100%;
  position: absolute;
  top: 1rem;
  left: -1rem;
  bottom: 0; }

details:last-child {
  height: 0; }

summary::-webkit-details-marker {
  display: none; }

summary {
  color: #FFB548;
  position: relative; }

summary::before {
  content: " ";
  border: 1px solid #ffffff;
  padding: 7px;
  width: 0;
  margin: 10px;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  display: block; }

.feature > img {
  max-width: 100%;
  width: 100%;
  height: 100%; }

.feature_title,
.feature_title--paragraph,
.feature_paragraph {
  color: #ffffff;
  margin: 0; }

#ftr-list {
  color: #FFB548;
  font-size: 21px;
  text-transform: uppercase;
  padding-block-end: 2rem; }

@media (min-width: 800px) {
  .feature {
    background-image: radial-gradient(37.45% 51.77% at 15.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url(../../webroot/images/desktop-ver.png);
    background-position: 0 0, 0% 70%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    position: relative;
    padding-top: 50%; }
  .feature-content {
    margin-inline-start: 60%;
    padding-inline-start: 0; } }

.requirements {
  background-image: url(../../webroot/images/requirement-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-block-end: 10%; }

.rqt-contents {
  padding-block-start: 69px;
  margin: auto; }

.requirement_title,
.requerement_paragraph {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }

.rqt-list {
  color: #FFB548; }

.rqt-list ~ p {
  color: #ffffff; }

.requirement-list {
  padding-block-start: 50.46px;
  padding: 40px; }

.requirement-list li {
  padding: 9px;
  border: 1px solid grey; }

.requirement-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.requirement-list li {
  border: 0.504234px solid #979797; }

.requirement-list li:nth-child(3),
.requirement-list li:nth-child(1) {
  grid-column: 1 / 3; }

.requirement-list li:nth-child(4),
.requirement-list li:nth-child(2) {
  grid-column: 3 / 5; }

.requirement-list li:nth-child(5) {
  grid-column: 1 / 5; }

.testemonials {
  background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url(../../webroot/images/testml-bg.png);
  background-size: cover, cover;
  background-position: 0 0, 0% 100%;
  background-repeat: no-repeat, no-repeat; }

.test-contents {
  padding-block-start: 36.99px;
  padding-inline-start: 15.35px;
  text-align: center; }

.testemonial_title,
.testemonial_paragraph1,
.testemonial_paragraph2 {
  color: #ffffff;
  text-align: left; }

.testemonial_title,
.testemonial_paragraph1 {
  text-transform: uppercase; }

.test-btn {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  border-style: none;
  padding-block-start: 16px;
  padding-block-end: 16px;
  padding-inline-end: 25px;
  padding-inline-start: 33px; }

.test-btn a {
  text-decoration: none;
  font-size: 16px;
  color: black; }

.quotes {
  display: block;
  padding: 15px;
  padding-inline-start: 0;
  margin: 0; }

.quotes li {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-inline-end: 15px;
  margin: 1rem;
  padding-block-start: 5px; }

.profile::before {
  content: " ";
  background-position: 10%;
  padding-block-start: 13px;
  background-repeat: no-repeat; }

.quote3,
.quote2,
.quote1 {
  position: relative; }

.quote2 > img,
.quote3 > img,
.quote1 > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  top: 10%; }

.profile1 {
  background-image: url(../../webroot/images/evan-lahti.png);
  background-repeat: no-repeat; }

.profile2 {
  background-image: url(../../webroot/images/jada-griffin.png);
  background-repeat: no-repeat; }

.profile3 {
  background-image: url(../../webroot/images/aaron-williams.png);
  background-repeat: no-repeat; }

.profile a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFB548;
  font-size: 21px; }

small,
.profile ~ p {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5; }

blockquote {
  color: #ffffff; }

.subscribe {
  background: radial-gradient(29.43% 47.19% at 6% 19%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(../../webroot/images/subscribe-mobile.png);
  background-position: 0 0, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 70%;
  padding-block-end: 523px;
  position: relative; }

.subscribe-content {
  position: absolute;
  left: 126px;
  padding: 1rem;
  margin: 1rem; }

.subscribe_title,
.subscribe_paragraph1,
.subscribe_paragraph2 {
  color: #ffffff; }

.subscribe_title {
  margin: 0; }

.subscribe_title,
.subscribe_paragraph1 {
  text-transform: uppercase;
  margin: 0; }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 76%; }

.buttons > ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px; }

.submit_btn,
.email_btn {
  background-color: lightgrey;
  border-radius: 2.94008px;
  border-style: none;
  padding: 16px;
  margin-block-end: 1rem; }

.submit_btn {
  background-color: #FFB548;
  padding-inline-start: 93px;
  padding-inline-end: 120px; }

footer {
  background: radial-gradient(78.66% 177.87% at 19.56% 37.57%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), black;
  padding-block-end: 30px; }

.footer-content {
  padding-block-start: 60px;
  padding-inline-end: 30px; }

.small {
  text-align: center; }

.logo {
  margin: 0;
  position: absolute;
  left: 45%; }

.first-nav {
  padding-block-start: 60px; }

.third-nav {
  padding-block-end: 20px;
  border-bottom: solid 1px lightgrey;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  padding-inline-end: 0; }

.first-nav a,
.second-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

.first-nav,
.second-nav,
.third-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.third-nav {
  padding-inline-start: 0;
  padding: 30px; }

.third-nav a {
  visibility: hidden; }

.last-nav {
  display: flex;
  flex-direction: column;
  text-align: center; }

.last-nav li {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 30px; }

.last-nav li:nth-of-type(2)::before {
  content: "";
  border-left: solid 1px lightgrey;
  padding-inline-end: 1rem; }

.last-nav li:nth-of-type(2)::after {
  content: "";
  border-right: solid 1px lightgrey;
  padding-inline-start: 1rem; }
