html {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; }

body {
  margin: 0; }

li {
  list-style: none; }

.mast_head {
  background-image: url(../../webroot/images/angelina-andreas.png); }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
