html {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-image: url(../../webroot/images/royal-img.png);
    margin: 0;
}

body>header {
    background-image: url(../../webroot/images/angelina-andreas.png);
    background-size: cover;
}

li {
    list-style: none;
}
