@import "../variable/variable";
.feature {
    text-align: center;
    background-image: url(../../webroot/images/feature-bg-crp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-inline-end: 219px;
    padding-block-end: 515px;
    opacity: 0.5;
}

.feature_title,
.feature_title--paragraph,
.feature_paragraph {
    color: $text-color;
}

.feature_title--paragraph {
    font-size: $heading-size;
}

summary {
    color: $summary-color;
    font-size: $header-font-size;
    text-transform: $uppercase-text;
}

// height: 1000vw * 388/343
//width: 1000vw
