@import "../variable/variable";
.feature {
    padding-right: calc(93px + 212px);
}

.feature>img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

aside {
    padding: 1rem;
    position: absolute;
    top: 40%;
    right: 0;
    left: 40%;
    padding-top: calc(calc(50% * 3 / 10) + 1rem);
}

.feature_title,
.feature_title--paragraph,
.feature_paragraph {
    color: $text-color;
}

.feature_title--paragraph {
    font-size: $heading-size;
}

summary {
    color: $summary-color;
    font-size: $header-font-size;
    text-transform: $uppercase-text;
    padding-block-end: 2rem;
}

// height: 1000vw * 388/343
//width: 1000vw
