@import "../variable/variable";
.feature {
    // padding-right: calc(93px + 212px);
    display: flex;
    flex-direction: row-reverse;
    padding-inline-start: 0;
}

.feature>img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.feature_title,
.feature_title--paragraph,
.feature_paragraph {
    color: $text-color;
}

.feature_title--paragraph {
    font-size: $heading-size;
}

summary {
    color: $summary-color;
    font-size: $header-font-size;
    text-transform: $uppercase-text;
    padding-block-end: 2rem;
}

// height: 1000vw * 388/343
//width: 1000vw
