@import '../variable/variable';
footer {
    background: radial-gradient(78.66% 177.87% at 19.56% 37.57%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), black;
    padding-block-end: 30px;
}

.footer-content {
    padding-block-start: 60px;
    padding-inline-end: 30px;
}

.small {
    text-align: center;
}

.logo {
    margin: 0;
    position: absolute;
    left: 45%;
}

.first-nav {
    padding-block-start: 60px;
}

.third-nav {
    padding-block-end: 20px;
    border-bottom: solid 1px lightgrey;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding-inline-end: 0;
}

.first-nav a,
.second-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: $text-color;
}

.first-nav,
.second-nav,
.third-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.third-nav {
    padding-inline-start: 0;
    padding: 30px;
}

.third-nav a {
    visibility: hidden;
}

.last-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.last-nav li {
    color: $text-color;
    text-transform: uppercase;
    line-height: 30px;
}

.last-nav li:nth-of-type(2)::before {
    content: "";
    border-left: solid 1px lightgrey;
    padding-inline-end: 1rem;
}

.last-nav li:nth-of-type(2)::after {
    content: "";
    border-right: solid 1px lightgrey;
    padding-inline-start: 1rem;
}
