@import '../variable/variable';
.header {
    width: 100%;
    height: $header-height;
    position: absolute;
}

.main_header {
    text-align: center;
}

.main_header h1,
.main_header p {
    color: white;
    text-transform: uppercase;
}

.button {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    border-style: none;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center
}

.scroll_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 140px;
}

.scroll_button a {
    color: white;
    text-decoration: none;
}

.bunners {
    display: flex;
    color: white;
}

.bunners li::before {
    content: "⚪";
}
