.mast_head {
    background-image: url(../../webroot/images/angelina-andreas.png);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// .mast_head--navigation {}