@import "../variable/variable";
.requirements {
    background-image: url(../images/requirement-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-block-end: 10%;
}

.rqt-contents {
    padding-block-start: 69px;
    margin: auto;
}

.requirement_title,
.requerement_paragraph {
    color: $text-color;
    text-transform: $uppercase-text;
    text-align: center;
}

.rqt-list {
    color: $summary-color;
}

.rqt-list~p {
    color: $text-color;
}

.requirement-list {
    padding-block-start: 50.46px;
    padding: 40px;
}

.requirement-list li {
    padding: 9px;
    border: 1px solid grey;
}

.requirement-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.requirement-list li {
    border: 0.504234px solid #979797;
}

.requirement-list li:nth-child(3),
.requirement-list li:nth-child(1) {
    grid-column: 1 / 3;
}

.requirement-list li:nth-child(4),
.requirement-list li:nth-child(2) {
    grid-column: 3 / 5;
}

.requirement-list li:nth-child(5) {
    grid-column: 1 / 5;
}