@import "../variable/variable";
#sos-headings,
.sos_content--paragraph {
    color: $text-color;
}

#sos-headings {
    margin: auto;
    padding: 40px;
    padding-block-end: 0;
    border-bottom: 2px solid white;
}

.sos_group--paragraph {
    font-size: $heading-size;
    text-transform: $uppercase-text;
}

.sos_content {
    margin: auto;
    padding: 15px;
    padding-inline-start: 5rem;
}

.sos_list-img {
    position: relative;
    height: 271px;
    list-style: none;
    padding: 0rem;
    right: 0;
}

.sos_image1 {
    position: absolute;
    z-index: 3;
    height: 271px;
    overflow: hidden;
}

.sos_image2 {
    position: absolute;
    z-index: 2;
    left: 42px;
    top: 14px;
    height: 252px;
}

.sos_image3 {
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 57px;
    height: 229px;
}

img {
    max-width: 100%;
    border-radius: 6px;
}
