@import "../variable/variable";
.sos {
    background-image: url(../../webroot/images/royal-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    position: relative;
}

#sos-headings,
.sos_content--paragraph {
    color: $text-color;
}

#sos-headings {
    margin: auto;
    padding: 40px;
    padding-block-end: 0;
    border-bottom: 2px solid white;
    margin: 1rem;
}

.sos_group--paragraph {
    font-size: $heading-size;
    text-transform: $uppercase-text;
}

.sos_content {
    padding: 2rem 40px;
}

.sos_list-img {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 109.6%;
    /* 	padding-bottom: calc(100% * 273 / 249); */
}

.sos_img {
    position: absolute;
}

// width of hole container 320
// gutter 320px - 76px
// padding offset of the 2nd and 3rd image: 12px each
// right padding of the 1st img 12 * 2 = 24px
.sos_image1 {
    z-index: 3;
    top: 0;
    left: 0;
    right: calc(100% * 24 / 249);
}

.sos_image2 {
    top: 50%;
    padding-top: 30%;
    z-index: 2;
    left: calc(100% * 12 / 249);
    right: calc(100% * 12 / 249);
    transform: translateY(-50%) scale(calc((273 - 48) / 273));
    transform-origin: 100% 0%;
}

.sos_image3 {
    z-index: 1;
    left: calc(100% * 24 / 249);
    right: 0;
    padding-top: 12%;
    transform: scale(calc((273 - 48) / 273));
    transform-origin: 100% 0%;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.sos_scroll-btns {
    display: flex;
    z-index: 3;
}

.sos_scroll-btns li::before {
    content: "⚪";
}
