@import "../variable/variable";
.subscribe {
    background: radial-gradient(29.43% 47.19% at 6% 19%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(../../webroot/images/subscribe-mobile.png);
    background-position: 0 0, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto 70%;
    padding-block-end: $subscribe-height;
    position: relative;
}

.subscribe-content {
    position: absolute;
    left: 126px;
    padding: 1rem;
    margin: 1rem;
}

.subscribe_title,
.subscribe_paragraph1,
.subscribe_paragraph2 {
    color: $text-color;
}

.subscribe_title {
    margin: 0;
}

.subscribe_title,
.subscribe_paragraph1 {
    text-transform: $uppercase-text;
    margin: 0;
}

.subscribe_paragraph1 {
    font-size: $heading-size;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 76%;
}

.buttons>ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

.submit_btn,
.email_btn {
    background-color: lightgrey;
    border-radius: $subscribe-border-radius;
    border-style: none;
    padding: 16px;
    margin-block-end: 1rem;
}

.submit_btn {
    background-color: $summary-color;
    padding-inline-start: 93px;
    padding-inline-end: 120px;
}
