// varieties of color needed
$text-color: #ffffff;
$summary-color: #FFB548;
$testemonials-link: $summary-color;
$btn-email-link: $summary-color;
// Background
// articles'padding
$masthed-padding-btm: 70px;
// Font-size
$heading-size: 33px;
$uppercase-text: uppercase;
// Body
$mobile-width: 320px;
$mobile-height: 4390px;
// header section
$header-width:$mobile-width;
$header-height: 571px;
// sos section
$sos-height: 689px;
// feature section
$feature-height:515px;
$header-font-size: 21px;
// requirements section
$requirement-height: 719px;
// testemonial section
$testemonial-height: 834px;
//subscribe section
$subscribe-height: 523px;
$subscribe-buttons-width: 290.5px;
$subscribe-buttons-height: 44px;
$subscribe-border-radius: 2.94008px;
// Footer
$footer-height: 493px;
